body{
    line-height: 1.5;
    background-color: #EDEDED;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}

h2{
    text-decoration: underline;
    margin: 10px 5px;
    letter-spacing: 3px;
    padding: 20px;
    border-radius: 10px;
    background-color: #3B516B;
    color: floralwhite;
}

article li{
    margin-left: 20px;
}